footer {
  text-align: right;
  font-size: 1.5em;
  color: #68c2f7;
  font-family: "Playfair Display", serif;
}

.git {
  text-align: right;
  font-size: 1.1em;
  color: #68c2f7;
  font-family: "Playfair Display", serif;
  text-decoration: underline;
}
.git:hover {
  color: #54a2cf;
}
